:root {
--header-height: 96px;
}

section {
scroll-margin-top: calc(var(--header-height) + 16px);
}


body {
    font-family: 'Shadows Into Light', cursive;
}

.navbar {
    background-color: #8B4513;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

#cabecalho .nav .nav-link.active {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #8B4513;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #FFFFFF;
}

.navbar-brand {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-toggler {
    background-color: #4b2e05;
}

#menu-navegacao .nav-link:hover {
    background-color: #D2B48C;
    color: #8B4513;
}

.carousel-indicators [data-bs-target] {
background-color: #a0522d; 
width: 12px;
height: 12px;
border-radius: 50%;
opacity: 0.5;
}

.carousel-indicators .active {
background-color: #4b2e05; 
opacity: 1;
}

.section-title span {
    color: #8B4513;
}

.text-colored {
    color: #8B4513;
}

.nav-cardapio .nav-link.active {
    background-color: #8B4513;
    font-weight: bold;
    color: #FFFFFF;
}

.nav-cardapio .nav-link.active:hover {
    background-color: #8B4513;
    color: #4b2e05;
}

#sobre-o-restaurante, #cardapio {
    background-color: #dec8aa;
}