body {
    font-family: 'Shadows Into Light', cursive;
}

.navbar {
    background-color: #8B4513;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

.nav .nav-link.active {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #8B4513;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-brand {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-toggler {
    background-color: #FFFFFF;
}

.carousel-indicators [data-bs-target] {
background-color: #a0522d; 
width: 12px;
height: 12px;
border-radius: 50%;
opacity: 0.5;
}

.carousel-indicators .active {
background-color: #4b2e05; 
opacity: 1;
}

.section-title span {
    color: #8B4513;
}